html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#main-header-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#main-title {
    font-size: 80px;
    font-weight: bold;
}

#main-intro {
    font-size: 28px;
}

#main-button-container {
    display: flex;
    flex-direction: row;
    width: 25%;
    justify-content: space-evenly;
}

#linkedin-button {
    width: 32px;
    height: 32px;
}

#github-button {
    width: 32px;
    height: 32px;
}

#medium-button {

}

#contact-button {

}