/******************************************************************************
                        GENERAL STYLING
******************************************************************************/

html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    margin: 0;
}

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

.section-header-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.section-title {
    font-size: 70px;
    font-weight: bold;
}

.section-intro {
    font-size: 28px;
}

.button {
    width: 32px;
    height: 32px;
}

/******************************************************************************
                        HERO SECTION
******************************************************************************/

#hero-section {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero-button-container {
    display: flex;
    flex-direction: row;
    width: 25%;
    justify-content: space-evenly;
    padding: 1em;
}


/******************************************************************************
                        ABOUT ME SECTION
******************************************************************************/

#about-section {
    background-color: grey;
}

#about-content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;

}

#about-intro-content {
    border: 2px, black, dashed;
}

#about-description-content {
    border: 2px, black, dashed;
}


/******************************************************************************
                        SKILLS AND EXPERIENCE SECTION
******************************************************************************/

#skills-section {
    background-color: whitesmoke;
}

#skills-content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#skill-languages-container {
    border: 2px, black, dashed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#skill-icons-container {
    border: 2px, black, dashed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}


/******************************************************************************
                            PORTFOLIO SECTION
*******************************************************************************/

#portfolio-section {
    background-color: lightgrey;
}

#projects-container {
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    margin-left: 1em;
}

.project-container {
    margin: 1em;
    padding: 1em;
    border: 0.1em, black, solid;
    display: flex;
    align-items: center;
}

#project-1-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;    
}

#project-2-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#project-3-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


/******************************************************************************
                            CONTACT SECTION
*******************************************************************************/

#contact-section {
    background-color: grey;
}

#form-container {
    display: flex;
    flex-direction: column;
    background-color: lightgoldenrodyellow;
    padding: 1em;
    border-radius: 0.5em;
    width: 25em;
}

#form-submit-button {
    width: 5em;
}

.input-field {
    margin-bottom: 1em;
    margin-top: 0.25em;
}